@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: rgb(15 16 31 / 50%);
}

body {
  font-family: Poppins, sans-serif;
  color: #0f1f1c;
  background-color: #f6f6f6;
}

.none {
  display: none !important;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
}

.container-right {
  padding-left: calc((100% - var(--container-width))/2 + var(--container-padding));
}

.block {
  height: 200px;
  background-color: green;
}

/* Header */

.header {
  position: relative;
  overflow: hidden;
  padding-top: 44px;
  min-height: 940px;
  color: #fff;
  background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%), #204434;
}

.header a {
  color: #fff;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-image: url(../img/header/header-bottom.svg);
  background-size: 100%;
}

.header__top {
  position: relative;
  z-index: 1;
  margin-bottom: 86px;
}

.header__row {
  display: flex;
}

.header__content {
  max-width: 592px;
}

.header__img {
  position: relative;
  flex-grow: 1;
}

.header__img img {
  position: absolute;
  right: -87px;
  top: -181px;
  width: 894px;
  height: 940px;
  max-width: unset;
}

/* Navigation */

.nav {
  display: flex;
  column-gap: 80px;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  column-gap: 80px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.nav__list a {
  position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 10px;
  bottom: -6px;
  display: block;
  border-radius: 50px;
  height: 4px;
  background-color: #c4c4c4;
}

.nav__login {
  display: flex;
  column-gap: 25px;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

/* LOGO */

.logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

/* BUTTON */

.btn {
  display: inline-block;
  border-radius: 100px;
  padding: 13px 44px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #fff;
}

.btn:hover {
  color: #224736;
  transition: color 0.4s ease;
}

.btn:active {
  position: relative;
  top: 1px;
}

/* Header content */

.header__content {
  position: relative;
  z-index: 1;
}

.header__badge {
  display: inline-block;
  margin-bottom: 7px;
  border-radius: 15px;
  padding: 11px 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  background: rgb(255 255 255 / 25%);
}

.header__title {
  margin-bottom: 30px;
  font-size: 55px;
  line-height: 82px;
}

.header__text {
  margin-bottom: 68px;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: rgb(255 255 255 / 50%);
}

.header__btn {
  display: inline-block;
  border-radius: 27px;
  padding: 27px 48px;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
}

.header__btn:hover {
  color: #224736;
  transition: color 0.4s ease;
}

.header__btn:active {
  position: relative;
  top: 1px;
}

/* Main destinations */

.destinations {
  overflow-x: hidden;
  padding: 96px 0 100px;
}

.destinations__row {
  display: flex;
  column-gap: 50px;
}

.destinations__content {
  max-width: 456px;
}

.destinations__content{

}

.destinations__title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
}

.destinations__title span {
  display: inline-block;
  font-size: 30px;
  line-height: 45px;
}

.destinations__text {
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: var(--secondary);
}

.destinations__slider {
  flex-shrink: 0;
  width: 1110px;
}

.destinations__btn {
  display: inline-block;
  border-radius: 27px;
  padding: 25px 45px;
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  color: white;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
}

.destinations__btn:hover {
  color: #224736;
  transition: color 0.4s ease;
}

.destinations__btn:active {
  position: relative;
  top: 1px;
}

/* slider */

.slider {
  position: relative;
  height: 456px;
}

.slider__item {
  margin-top: 27px;
  border-radius: 35px;
  width: 335px;
  height: 402px;
  object-fit: cover;
  transition: 0.4s ease;
}

.slider .center .slider__item {
  margin-top: 0;
  width: 380px;
  height: 456px;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 9;
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #8b8b8b;
  transform: translateY(-50%);
}

.slider__btn--prev {
  left: -27px;
  justify-content: flex-start;
  padding-left: 26px;
}

.slider__btn--next {
  right: -27px;
  justify-content: flex-end;
  padding-right: 26px;
}
